#  String and Text Manipulation I

**Learning Objectives:**
  * Gain an introduction to string and text manipulaation using python and *pandas* libraries

## Library import

The following line imports *pandas*, *numpy* and *re* library

In [17]:
import pandas as pd
import re
import numpy as np

## Python Built-In String Methods

In [4]:
SimpleString="hello there, how are things on your side ?"

###Â Let's select and slice parts of the string

In [8]:
SimpleString[4]

'o'

In [9]:
SimpleString[0]

'h'

In [11]:
SimpleString[0:5]

'hello'

### Let's replace parts of the string

In [12]:
SimpleString.replace('h','j')

'jello tjere, jow are tjings on your side ?'

In [13]:
SimpleString.replace('hello','hi')

'hi there, how are things on your side ?'

### Let's split the string into words

In [14]:
SimpleString.split(',')

['hello there', ' how are things on your side ?']

In [15]:
SimpleString.split(' ')

['hello', 'there,', 'how', 'are', 'things', 'on', 'your', 'side', '?']

## String functions in Pandas

In [52]:
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com","Rob": "rob@gmail.com", "Wes": "wes@yahoo.com"}
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': 'wes@yahoo.com'}

In [53]:
TextDataFrameSeries=pd.Series(data)
TextDataFrameSeries

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes        wes@yahoo.com
dtype: object

In [45]:
TextDataFrameSeries.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes      False
dtype: bool

In [51]:
TextDataFrameSeries.str[0:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes      wes@y
dtype: object

In [47]:
TextDataFrameSeries.str.split("@")

Dave     [dave, google.com]
Steve    [steve, gmail.com]
Rob        [rob, gmail.com]
Wes        [wes, yahoo.com]
dtype: object

In [49]:
TextDataFrameSeries.str.split("@", expand=True)

           0           1
Dave    dave  google.com
Steve  steve   gmail.com
Rob      rob   gmail.com
Wes      wes   yahoo.com

In [50]:
TextDataFrameSeries.str.replace("@", "$$$", regex=False)

Dave     dave$$$google.com
Steve    steve$$$gmail.com
Rob        rob$$$gmail.com
Wes        wes$$$yahoo.com
dtype: object

In [54]:
TextDataFrameSeries.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes      False
dtype: bool